@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

  :root {
    /* --primary-green: #009845;
    --gray-80: #393939;
    --gray-50c: #C9CFD6;
    --orange-10: #FEF3E6;
    --orange-20: #FCE8CC;
    --tertiary-gray-60: #565D60; */
    --gray-100: #161616;
    --gray-90: #262626;
    --gray-60: #6F6F6F;
    --gray-40c: #DCE1E6;
    --tertiary-gray-01: #F7F9FD;
    --tertiary-gray-02: #EAF3F7;
    --nav-height: 52px;
  }

  #topnav {
    @apply flex flex-row justify-between items-center px-10 bg-white border border-b-gray-600 fixed;
    z-index: 10;
    /* background-color: var(--gray-100); */
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    z-index: 10;
  }

  #topnav .nav-links {
    @apply flex justify-center items-center;
    @apply text-base text-gray-600;
    @apply leading-5;
    @apply py-3;
    white-space: nowrap;
  }

  #topnav .menu-button {
    @apply py-2 px-4;
    @apply inline-flex justify-center items-center rounded-full;
    @apply hover:bg-cyan-50 focus:outline-none focus:ring-1 focus:ring-inset focus:ring-gray-500;
    /* color: var(--gray-40c); */
  }

 #topnav .menu-button:nth-last-of-type(2) {
   @apply rounded-full border border-gray-300 ml-8 text-black hover:border-gray-800;
 }
 #topnav .menu-button:last-of-type {
   @apply border border-gray-600 text-black hover:border-black ml-2;
 }


  .page-body {

    padding-bottom: 240px;
  }


  main {
    @apply w-full;
  }

  header {
    @apply block py-4;
  }

  header .breadcrumb {
    @apply pt-1 pb-10;
  }

  header .breadcrumb li {
    color: var(--gray-60);
    @apply font-mono text-sm list-none dark:text-slate-500;
    @apply inline;
  }

  header .breadcrumb li:after {
    content: '/';
    color: var(--gray-50c);
    @apply px-2 dark:text-slate-600;

  }

  header .breadcrumb li:last-of-type:after {
    @apply px-0;
    content: '';
    display: hidden;
  }


  h1 {
    @apply mb-6 antialiased font-semibold dark:text-slate-200 text-slate-800;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    font-size: 128px;
    line-height: 120px;
    letter-spacing: -.025em;
  }

  .hero-section {
    @apply bg-white bg-opacity-70;
    @apply pt-44 px-24 pb-24;
    @apply dark:bg-gray95;

  }

  .hero-section p {
    @apply text-slate-700 dark:text-slate-500 text-5xl;
    line-height: 56px;
  }

  .hero-section p a {
    @apply text-indigo-600 dark:text-sky-400;
    white-space: nowrap;
  }

  .stats {
    @apply bg-white bg-opacity-70;
    @apply flex px-24 pt-8 pb-40;
    @apply dark:bg-gray95;
  }

  .stats h2 {
    @apply flex-col flex-grow justify-between font-semibold text-5xl dark:text-slate-400 pl-6 border-l border-slate-500;
    min-width: 320px;
  }

  .stats h2 span {
    @apply text-2xl font-extralight text-slate-700 dark:text-slate-500 pt-4 pb-3;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    display: block;
  }

  .testimonial,
  .different,
  .what-we-label {
    @apply pt-24 px-24 pb-48;
  }

  .testimonial {
    @apply text-gray-300 font-light antialiased;
    background: url('../assets/bg-md.jpg') top left no-repeat fixed;
    background-size: cover;
  }

  .testimonial h2,
  .different h2,
  .what-we-label h2 {
    @apply text-8xl font-semibold py-12;
    letter-spacing: -.03em;
  }


  .partners h2 {
    @apply text-4xl font-normal pt-64;
    letter-spacing: normal;
    line-height: 44px;
    max-width: 480px;
  }

  .testimonial a {
    @apply text-teal-400;
  }

  .testimonial p {
    @apply max-w-2xl;
    font-size: 36px;
    line-height: 48px;
  }

  .testimonial .highlight {
    @apply bg-indigo-600 bg-opacity-70;
  }

  .testimonial byline {
    @apply block mt-6 pt-40 pl-6 border-l border-slate-500 text-xl font-light;
  }

  .testimonial byline span {
    @apply block font-semibold;
  }

  .eyebrow {
    @apply text-lg pb-4;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  }

  .different {
    @apply bg-zinc-900;
    @apply antialiased;

  }

  .card-wrapper {
    @apply flex;
    gap: 24px;
  }
  .card-wrapper .card {
    @apply flex-col bg-slate-50 border border-slate-200 rounded-md pt-8 pb-16;
    flex-basis: 33%;
    min-width: 320px;
  }

  .card-wrapper .card img {
    height: 320px;
  }

  .card-wrapper .card:first-of-type img {
    animation: pulse 4.8s ease-in-out infinite;
  }

  .card-wrapper .card:nth-last-of-type(2) img {
    animation: pulse 7.2s ease infinite;
  }

  .card-wrapper .card:last-of-type img {
    animation: pulse 6.4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%, 100% {
      filter: blur(16px);
    }
    50% {
      filter: blur(48px);
    }
  }

  .different h2 {
    @apply text-zinc-300;
  }

  .card-wrapper .card h3 {
    @apply text-slate-800 font-semibold rounded-t-2xl px-8 py-8 leading-tight;
    font-size: 24px;
    line-height: 28px;
    /* min-height: 148px; */
  }

  .card-wrapper .card p {
    @apply px-8 text-slate-600;
  }

  .what-we-label {
    @apply bg-zinc-900 flex antialiased;
    /* background-image: linear-gradient(19deg, #21D4FD 10%, #B721FF 100%); */
    gap: 80px;
  }

  .what-we-label div:first-of-type {
    flex-grow: 0;
    width: calc(30%);
    min-width: 480px;
  }

  .what-we-label div:last-of-type {
    flex-grow: 3;
  }

  .what-we-label h2 {
    @apply py-0 leading-none text-zinc-300;
    /* @apply border rounded-xl bg-indigo-400; */
    /* @apply text-9xl; */
  }

  .what-we-label .subtext {
    @apply text-2xl py-4 text-zinc-500;
    max-width: 360px;
  }

  .what-we-label h3 {
    @apply text-base pt-16 pb-6 text-zinc-400;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  }


  .what-we-label ul {
    @apply p-12 rounded-md;
    @apply flex flex-wrap;
    @apply bg-zinc-800;
    @apply text-zinc-400;
    gap: 12px;
    /* background-color: #191919; */

  }

  .what-we-label ul:last-of-type {
    @apply bg-zinc-600;

  }

  .what-we-label li {
    @apply text-lg pt-0 pb-2;
    @apply border-b border-zinc-700 justify-items-stretch;
    min-width: 200px;
    width: calc(50% - 12px);

  }

  .what-we-label ul.data-types li {
    @apply flex-row ;
  }

  .partners {
    @apply pb-24;
  }

  .partners ul {
    @apply flex flex-wrap items-center;
    gap: 12px;
  }

  .partners ul li {
    @apply py-2 px-4 rounded bg-slate-200 bg-opacity-80;
    width: 120px;
  }


};
